<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p>Copyright &#169; FreaklyGhost.inc 2013</p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
